body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
  transition: 0.3s;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;          /* 🔥 makes items horizontal */
  gap: 25px;              /* space between links */
  margin: 0;
  padding: 0;
}
nav ul {
  justify-content: center;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #033537;
}

nav button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* HEADER */
header {
  text-align: center;
  padding: 70px;
  background: linear-gradient(to right, #333, #555);
  color: white;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #051c3f;
  object-fit: cover;
}

/* SECTIONS */
section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  opacity: 1;
  transform: translateY(0);
}

/* HEADINGS */
h1 {
  font-size: 40px;
  color: #00adb5;
}

h2 {
  font-size: 28px;
  color: rgb(0, 0, 0);
}

/* TEXT */
p {
  color: #000000;
}

/* PROJECTS */
.project {
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #fdfafa;
  transition: 0.3s;
}

.project h3 {
  color: #222;
}

.project:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* BUTTONS */
.btn {
  padding: 15px 35px;
  font-size: 16px;
  margin: 15px 10px;
  background: linear-gradient(45deg, #2563eb, #38bdf8);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.1);
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}

.dark section {
  background: #1e1e1e;
}

.dark p {
  color: #ccc;
}

.dark h2 {
  color: white;
}

.dark nav {
  background: #000;
}

.dark .project {
  background: #2a2a2a;
}

.dark .project h3 {
  color: #00adb5;
}
